:root {
    --primary-color:#fff;
    --secondary-color:lightblue;
}


body {
    margin:0;
    padding:0;
    background-color: var(--secondary-color);
    display: grid;
}
/* Header/Nav Bar Start*/

header {
    color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/558/893/small/abstract-dark-black-geometric-hexagonal-mesh-material-header-metallic-technology-banner-with-blank-space-for-your-logo-abstract-widescreen-background-vector.jpg);
    
}

header h1 {
    font-weight: bold;
    
}

header nav {
    margin: 10px;

}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    
    
    
    
}

header nav ul li a {
    padding: 8px 12px;
    font-size: 1.5vw;
    color: azure;
    text-decoration: none;
    
}

header nav ul li a:hover {
    color: var(--primary-color);
    color: aqua;
    text-shadow: none;
}

.temporary em {
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}


h1 {
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
    padding:20px;
    margin:0;
}

h2 {
    font-size: 1.5em;
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    
    
}
/* Header/Nav Bar End */

/* Main Bio container start */
#main-bio {
    display: block;
    justify-content: space-evenly;
    
    
    
}

p {
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

#skills {
    background-color: lightsteelblue;
}

ul li {
    font-weight: bold;
    font-size: large;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#bio-image {
    float:left;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    margin-left: 15px;
    padding-bottom: 15px;
}

/* Bio End */

/* Projects Start */
.projects {
    display: grid;
     grid-gap: 5px;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-evenly;
     place-items: center;
     padding-top: 50px;
     background: lightsteelblue;
}

h3 a {
    text-decoration: none;
    color: var(--primary-color);
}

h3 a:hover {
    color: aqua;

}

.my-work img {
    border: 5px solid var(--secondary-color)
}




/* Projects End */